@import 'mixins'
@import 'colors'

*
  box-sizing: border-box

html
  font-family: 'Open Sans', Arial, sans-serif
  font-weight: 300
  font-size: 24px
  background-color: #000
  color: #fff

body
  margin: 0
  padding: 0

h5
  font-size: 0.5em
  text-transform: uppercase
  margin: 5px 0
  border-bottom: 1px solid white

.app
  display: flex
  flex-direction: row
  border: 3px solid transparent
  margin: 5px
  padding: 0 5px
  height: calc(100vh - 10px)
  overflow: hidden

  &.hotword
    border: 3px solid magenta

.left, .right
  display: flex
  flex-direction: column
  box-sizing: border-box
  height: 100%
  width: 50%

.left
  align-self: flex-start

.right
  align-self: flex-end

@import 'components/*'

.left > div,
.right > div
  &:not(:first-child)
    margin-top: 25px

#error, #main
  position: absolute
  bottom: 0
  width: 100%
  text-align: center

  i
    color: red
    margin-right: 5px
