@import 'mixins'
@import 'colors'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

html
  font-family: 'Open Sans', Arial, sans-serif
  font-weight: 300
  font-size: 24px
  background-color: #000
  color: #fff

.left
  width: 50%
  float: left

.right
  width: 50%
  float: right

@import 'components/*'

.left > div,
.right > div
  clearfix()

  &:not(:first-child)
    margin-top: 25px

#error, #main
  position: absolute
  bottom: 0
  width: 100%
  text-align: center

  i
    color: red
    margin-right: 5px
