.widget-calendar
  width: 50vw

  .time
    font-size: 0.75em
    font-weight: 700
    margin: 0 10px

  i, .time
    color: #aaa


  ul
    font-size: 1em
    list-style-type: none
    padding: 0
    margin: 0

    li
      margin-bottom: 15px

      &:last-child
        margin-bottom: 0

  h5
    font-size: 0.5em
    text-transform: uppercase
    margin: 5px 0
