#calendar
  float: left
  width: 100%
  position: absolute
  bottom: 5px

  .time
    font-size: 0.8em
    font-weight: 700
    margin: 0 10px

  ul
    font-size: 0.8em
    list-style-type: none
    padding: 0
    margin: 0

  h5
    font-size: 0.5em
    text-transform: uppercase
    margin: 5px 0
