#citibike
  .station
    display: flex
    flex-direction: row
    align-items: center
    padding-bottom: 10px

    .name
      font-weight: bold
      flex: 0 0 225px
      margin-right: 10px

    .number, .name
      font-size: 18px
      margin-right: 10px

    .progress-bar
      flex: 1
      overflow: hidden
      border-radius: 4px
      height: 25px

  .header > .number
      font-size: 12px
