#clock
  margin-left: auto

  .container
    display: flex
    flex-direction: column
    align-items: flex-end

  .time
    font-size: 5em
    line-height: 1

  .day, .date
    font-size: 1.2em
    margin-right: 3px
    margin-left: auto
