#status
  width: 450px
  margin-top: auto !important
  margin-left: auto !important

  h5
    font-size: 0.5em
    text-transform: uppercase
    margin: 5px 0

    .time
      float: right
      font-style: italic
      color: #777
      margin-left: 5px
      vertical-align: middle
      font-weight: normal
      text-transform: lowercase

  a
    display: block
    margin: 5px 0

  .item
    display: flex
    flex-direction: column
    font-size: 0.8em

  .DateStyle,
  .TitleDelay,
  .TitleServiceChange,
  .TitlePlannedWork,
  .plannedWorkDetail
    display: none

.carousel-appear
  opacity: 0.01

.carousel-appear.carousel-appear-active
  opacity: 1
  transition: opacity .5s ease-in
