.status
  display: flex
  justify-content: center
  text-align: left
  margin: 20px 0 5px 0
  font-size: 14px

  a
    display: block
    margin: 5px 0

  .item
    display: flex
    flex-direction: column
    margin: 10px

  .entry
    margin-top: 5px

  .timestamp
    margin-bottom: -10px
    font-size: 11px
    color: #777
    align-self: flex-end

  .TitleServiceChange,
  .DateStyle,
  .plannedWorkDetail
    display: none
