@require 'mixins'
@require 'colors'

.widget-subway
  display: flex
  flex-direction: column

  h5
    display: flex
    align-items: center

  .logo
    display: inline-block
    background-image: url(../icons/MTA_NYC_logo.svg)
    background-size: cover
    background-repeat: no-repeat
    height: 24px
    width: 21.94px
    margin-right: 10px

  .line
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 5px

    &:last-child
      margin-bottom: 0

  .text, .subway
    display: inline-block
    vertical-align: middle

  .text
    padding-left: 5px

  .times
    margin: 0 auto
    list-style: none
    padding-left: 0

    li
      padding-bottom: 10px
      position: relative

  .arrival-time
    display: inline-block
    margin-left: 10px
    height: 25px
    vertical-align: middle

  .fa-exclamation-triangle
    color: #FCCC0A
    margin-left: 10px
    vertical-align: middle

.subway-content-active
  .subway-large
    display: block !important
    margin: 0 auto

  .subway-schedules
    display: flex
    flex-direction: row
    border-top: 1px solid white
    margin-top: 25px

  .subway-column
    flex: 1 50%
    margin: 25px 0
    padding: 0 25px

    &:first-child
      border-right: 1px solid white

    h5
      display: block
      font-size: 14px
      text-transform: uppercase
      text-align: center

  .subway-status
    border-top: 1px solid white
    padding-top: 25px
    font-size: 16px

    .TitlePlannedWork,
    .plannedWorkDetailLink
      display: block

    .plannedWorkDetailLink i
      margin-right: 15px

    .TitlePlannedWork
      margin-top: 15px

    .plannedWorkDetail
      display: none

.subway
  display: inline-block !important
  font-family: Helvetica, sans-serif;
  border-radius(50%)
  background-color: $gray
  color: $white
  display: inline-block
  font-size: 20px
  font-weight: bold
  height: 30px
  line-height: 31px;
  text-align: center
  width: 30px

  &.subway-large
    height: 90px
    width: 90px
    font-size: 75px
    line-height: 92px

.subway-1,
.subway-2,
.subway-3
  background-color: $red

.subway-A,
.subway-C,
.subway-E
  background-color: $blue

.subway-B,
.subway-D,
.subway-F,
.subway-M
  background-color: $orange

.subway-4,
.subway-5,
.subway-6
  background-color: $green

.subway-G
  background-color: #6CBE45

.subway-L
  background-color: #A7A9AC

.subway-N,
.subway-R,
.subway-Q,
.subway-W
  color: black
  background-color: #FCCC0A

.subway-7
  background-color: #B933AD

.subway-J,
.subway-Z
  background-color: #996633

.subway-S
  background-color: #808183
